<h1 class="">Product List</h1>

<table class="table table-info table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Image</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of products">
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><img [src]="product.image" alt="lỗi" width="50px"></td>
        <td><a [routerLink]="['/update-product/', product.id]" class="mt-4 mb-4">Edit</a></td>
        <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
      </tr>
  </ng-container>
  </tbody>

</table>

