<h1>Create New Product</h1>
<form action="" (ngSubmit)="createProduct()">
  <table class="table table-success">
    <tr>
      <div>
        <label>Name</label>
        <td><input type="text" name="name" [(ngModel)]="product.name"></td>
      </div>
    </tr>
    <tr>
      <div>
        <label>Price</label>
        <td><input type="text" name="price" [(ngModel)]="product.price"></td>
      </div>
    </tr>
    <tr>
      <div>
        <label>Description</label>
        <td><input type="text" name="description" [(ngModel)]="product.description"></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <label for="image">Chọn ảnh sản phẩm</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" multiple="multiple" id="image" name="image"
                   (change)="showPreview($event)">
            <label class="custom-file-label" for="image">Choose file</label>
          </div>
        </div>
      </div>
    </tr>

    <tr>
      <td><button>Create</button></td>
    </tr>
  </table>
</form>
